# Maven
target/

# Compiled class files
*.class

# Log files
*.log

# Eclipse
.classpath
.project
.settings/
bin/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/

# STS
.apt_generated
.factorypath
.springBeans

# Mac
.DS_Store

# Windows
Thumbs.db

# Configuracion local
application-local.properties
application-local.yml
.env